In [1]:
from helper import get_req_handler, initBoto3Session, get_s3_objs
from dotenv import load_dotenv
import boto3
import os
from io import StringIO

import pandas as pd

# Set Up

In [2]:
load_dotenv()

aws_access_key_id=os.environ["AWS_ACCESS_KEY_ID"]
aws_secret_access_key=os.environ["AWS_SECRET_ACCESS_KEY"]

client = boto3.client('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key)

In [3]:
bucket_name = os.environ["BUCKET_NAME"]
data_dir = os.environ["DATA_DIR"]

file_name = "rainfall-realtime.csv" # i will manually change / create a list or smth like that

In [4]:
csv_obj = client.get_object(Bucket=bucket_name, Key= data_dir + file_name)

In [5]:
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')
df = pd.read_csv(StringIO(csv_string))

In [6]:
df.head()

,Unnamed: 0,timestamp,station_id,station_loc,station_name,rainfall_realtime
0,0,2022-03-28T163000,S77,"(1.2937, 103.8125)",Alexandra Road,0.0
1,1,2022-03-28T163000,S109,"(1.3764, 103.8492)",Ang Mo Kio Avenue 5,0.2
2,2,2022-03-28T163000,S90,"(1.3191, 103.8191)",Bukit Timah Road,0.0
3,3,2022-03-28T163000,S114,"(1.38, 103.73)",Choa Chu Kang Avenue 4,0.8
4,4,2022-03-28T163000,S50,"(1.3337, 103.7768)",Clementi Road,0.0

In [7]:
file_name = "non-rainfall-realtime.csv"
csv_obj = client.get_object(Bucket=bucket_name, Key= data_dir + file_name)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')
df = pd.read_csv(StringIO(csv_string))
df.head()

,Unnamed: 0,timestamp,station_id,station_loc,station_name,wind_speed_realtime,wind_dir_realtime,RH%_realtime,air_temp_realtime
0,0,2022-03-28T163500,S107,"(1.3135, 103.9625)",East Coast Parkway,3.0,285,86.8,26.9
1,1,2022-03-28T163500,S108,"(1.2799, 103.8703)",Marina Gardens Drive,4.4,339,99.4,26.7
2,2,2022-03-28T163500,S44,"(1.34583, 103.68166)",Nanyang Avenue,5.8,39,74.7,28.2
3,3,2022-03-28T163500,S106,"(1.4168, 103.9673)",Pulau Ubin,1.5,217,85.1,26.2
4,4,2022-03-28T163500,S24,"(1.3678, 103.9826)",Upper Changi Road North,4.0,323,85.9,26.5

In [8]:
file_name = "forecast-4DAY.csv"
csv_obj = client.get_object(Bucket=bucket_name, Key= data_dir + file_name)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')
df = pd.read_csv(StringIO(csv_string))
df.head()

,Unnamed: 0,4day_date,4day_forecast,4day_temperature_low,4day_temperature_high,4day_relative_humidity_low,4day_relative_humidity_high,4day_wind_speed_low,4day_wind_speed_high,4day_wind_direction,4day_update_timestamp
0,0,2022-03-29,Afternoon thundery showers,24,35,55,95,10,20,NNW,2022-03-28T180212
1,1,2022-03-30,Late afternoon thundery showers,24,35,55,90,5,15,NNW,2022-03-28T180212
2,2,2022-03-31,Pre-dawn hours and early morning thundery showers,23,33,60,95,5,15,W,2022-03-28T180212
3,3,2022-04-01,Afternoon thundery showers,24,34,55,95,5,20,W,2022-03-28T180212

In [9]:
file_name = "forecast-24HR.csv"
csv_obj = client.get_object(Bucket=bucket_name, Key= data_dir + file_name)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')
df = pd.read_csv(StringIO(csv_string))
df.head()

,Unnamed: 0,24hr_start,24hr_end,24hr_general_forecast,24hr_general_relative_humidity_low,24hr_general_relative_humidity_high,24hr_general_temperature_low,24hr_general_temperature_high,24hr_general_wind_speed_low,24hr_general_wind_speed_high,...,24hr_period_2_forecast_central,24hr_period_2_forecast_south,24hr_period_2_forecast_north,24hr_period_3_start,24hr_period_3_end,24hr_period_3_forecast_west,24hr_period_3_forecast_east,24hr_period_3_forecast_central,24hr_period_3_forecast_south,24hr_period_3_forecast_north
0,0,2022-03-28T180000,2022-03-29T180000,Thundery Showers,55,95,24,35,10,20,...,Partly Cloudy (Day),Partly Cloudy (Day),Partly Cloudy (Day),2022-03-29T120000,2022-03-29T180000,Thundery Showers,Thundery Showers,Thundery Showers,Thundery Showers,Thundery Showers

In [11]:
file_name = "forecast-2HR.csv"
csv_obj = client.get_object(Bucket=bucket_name, Key= data_dir + file_name)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')
df = pd.read_csv(StringIO(csv_string))
df.head()

,Unnamed: 0,2hr_forecast_area,2hr_forecast_area_loc,2hr_forecast_value,2hr_start,2hr_end
0,0,Ang Mo Kio,"(1.375, 103.839)",Light Rain,2022-03-28T163000,2022-03-28T183000
1,1,Bedok,"(1.321, 103.924)",Light Rain,2022-03-28T163000,2022-03-28T183000
2,2,Bishan,"(1.350772, 103.839)",Light Rain,2022-03-28T163000,2022-03-28T183000
3,3,Boon Lay,"(1.304, 103.701)",Light Rain,2022-03-28T163000,2022-03-28T183000
4,4,Bukit Batok,"(1.353, 103.754)",Light Rain,2022-03-28T163000,2022-03-28T183000